In [19]:
print("hello")

hello

# Praktikum 1

In [21]:
a=5
print(a)

5

In [22]:
#list
fruits=["apple", "banana"]
other=["fruits",10] 

print(fruits)
print(other)
print(type(fruits))
print(type(other))

['apple', 'banana']
['fruits', 10]
<class 'list'>
<class 'list'>

In [23]:
#menggabungkan 2 list
mixed= [fruits, other] 
print(mixed)

[['apple', 'banana'], ['fruits', 10]]

In [24]:
#menambahkan elemen baru
fruits.append("grape") 
print(fruits)
fruits= fruits + ["mango"]
print(fruits)

['apple', 'banana', 'grape']
['apple', 'banana', 'grape', 'mango']

In [26]:
#tuple
color=("red","yellow","blue")
print(color)

('red', 'yellow', 'blue')

In [27]:
#import packages
import pandas as pd #to import a csv data
import numpy as np

In [31]:
#making a table from Data Frame
left= pd.DataFrame({'key':['K0','K1','K2','K3'],
                   'A':['A0','A1','A2','A3'],
                   'B':['B0','B1','B2','B3']})
right= pd.DataFrame({'key':['K0','K1','K2','K3'],
                   'C':['C0','C1','C2','C3'],
                   'D':['D0','D1','D2','D3']})
#when it comes to merging some data frame the first way is lookin for the same variable
result1= pd.merge(left,right, on='key')

In [33]:
result1

  key   A   B   C   D
0  K0  A0  B0  C0  D0
1  K1  A1  B1  C1  D1
2  K2  A2  B2  C2  D2
3  K3  A3  B3  C3  D3

In [34]:
print(type(result1['D']))

<class 'pandas.core.series.Series'>

In [40]:
#making a table from Data Frame using 2 series of  data frame as ....
left2= pd.DataFrame({'key1':['K0','K0','K1','K2'],
                   'key2':['K0','K1','K0','K1'],
                   'A':['A0','A1','A2','A3'],
                   'B':['B0','B1','B2','B3']})
right2= pd.DataFrame({'key1':['K0','K1','K1','K2'],
                    'key2':['K0','K0','K0','K0'],
                   'C':['C0','C1','C2','C3'],
                   'D':['D0','D1','D2','D3']})
result2= pd.merge(left2,right2, on = ['key1','key2'])
result2

  key1 key2   A   B   C   D
0   K0   K0  A0  B0  C0  D0
1   K1   K0  A2  B2  C1  D1
2   K1   K0  A2  B2  C2  D2

In [23]:
import pandas as pd
data1= pd.read_csv("pengunjung1.csv", sep=",")
data2= pd.read_csv("penjualan1.csv",sep=",")

In [24]:
dataAll= pd.merge(data1, data2, on="Outlet")

In [25]:
dataAll

   Outlet  Week1  Week2  Week3  Week4  Sales1  Sales2  Sales3  Sales4
0       1     64     55     60     45      70      42      65      40
1       2     56     43     47     55      45      39      49      52
2       3     76     67     61     68      60      71      75      63
3       4     53     58     67     76      50      60      69      70
4       5     42     45     55     65      65      55      50      67
5       6     50     79     64     58      69      73      58      54
6       7     34     63     52     60      40      69      47      72
7       8     65     52     45     66      52      58      52      62
8       9     44     60     65     56      40      54      63      55
9      10     59     47     56     63      63      40      58      60

In [74]:
#merge unsing concat function
d1= pd.DataFrame({'A':['A0','A1','A2','A3'],
                   'B':['B0','B1','B2','B3']})
d2= pd.DataFrame({'C':['C0','C1','C2','C3'],
                   'D':['D0','D1','D2','D3']})
mix = [d1,d2]
all= pd.concat(mix)
all2= pd.concat([d1,d2]) #there are 2 way to concenate

C:\Users\USER\Anaconda3\lib\site-packages\ipykernel_launcher.py:7: FutureWarning: Sorting because non-concatenation axis is not aligned. A future version
of pandas will change to not sort by default.

To accept the future behavior, pass 'sort=False'.

To retain the current behavior and silence the warning, pass 'sort=True'.

  import sys
C:\Users\USER\Anaconda3\lib\site-packages\ipykernel_launcher.py:8: FutureWarning: Sorting because non-concatenation axis is not aligned. A future version
of pandas will change to not sort by default.

To accept the future behavior, pass 'sort=False'.

To retain the current behavior and silence the warning, pass 'sort=True'.

In [76]:
all2

     A    B    C    D
0   A0   B0  NaN  NaN
1   A1   B1  NaN  NaN
2   A2   B2  NaN  NaN
3   A3   B3  NaN  NaN
0  NaN  NaN   C0   D0
1  NaN  NaN   C1   D1
2  NaN  NaN   C2   D2
3  NaN  NaN   C3   D3